###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/.idea/
/node_modules/
/www/bundles/
/www/css/
/www/fonts/
/www/js/
/www/mix-manifest.json
/www/php-error.log
/var/
/vendor/
###< symfony/framework-bundle ###
