.body {
	width: 100%;
	position: fixed;
	bottom: -0.5rem;
	max-height: 100%;
	overflow-y: auto;

	& > .card-body {
		display: none;
	}
}

@media only screen and (min-width: 576px) {
	.body {
		width: 500px;
	}
}