.form-notch {

	& > * {
		border-left: none !important;
		border-top: none !important;
		border-right: none !important;
		box-shadow: none !important;
		border-radius: 0 !important;
	}
}

div.invalid-feedback {
	position: relative;
	margin-top: -1rem;
	margin-bottom: 0.5rem;
	white-space: normal;
}