@import 'mapbox-gl';
@import './kit/free/variables';

#map {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#map-spinner-container {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.5);

	& > .spinner-border {
		border-color: $danger;
		border-right-color: transparent;
	}
}