<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ mapbox(map) }}

            <section class="w-100 justify-content-center d-flex">
                <div class="body card">
                    {# default card #}
                    <div class="card-body d-none" id="body-default">
                        <div class="row text-nowrap flex-nowrap">
                            <div class="col-6 text-start">
                                <button type="button" class="btn btn-danger btn-lg">New report</button>
                            </div>
                            <div class="col-6 text-end">
                                <div class="btn-group dropup">
                                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-mdb-toggle="dropdown">Reports&nbsp;&nbsp;</button>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Heatmap</a></li>
                                        <li><a class="dropdown-item" href="#">Spreadsheet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# /default card/ #}

                    {# severity select #}
                    <div class="card-body" id="body-severity">
                        <div class="row flex-nowrap">
                            <div class="col-12">
                                <h4>Severity</h4>
                            </div>
                        </div>
                    </div>
                    {# /severity select/ #}

                    {# report form #}
                    <div class="card-body d-none" id="body-report-form">
                        <div class="row text-nowrap flex-nowrap">
                            <div class="col-12">
                                {{ form(reportForm) }}

                                <button type="button" class="btn btn-danger btn-lg">Continue</button>
                            </div>
                        </div>
                    </div>
                    {# /report form/ #}
                </div>
            </section>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
