{% trans_default_domain 'timepicker' %}

<div id="timepicker-locale"
	 data-label-ok="{{ 'timepicker.label.ok'|trans }}"
	 data-label-cancel="{{ 'timepicker.label.cancel'|trans }}"
	 data-label-clear="{{ 'timepicker.label.clear'|trans }}"
	 data-label-invalid="{{ 'timepicker.label.invalid'|trans }}">
</div>